////
/// @group colors
////

$white: (                  base: #ffffff                                    );
$black: (                  base: #000000                                    );
$pink : ( dark: #CD1C46, base: #FC5770, soft: #FFBECE, light: #FFDFE7 );
$blue : ( dark: #20438D, base: #315AAF,                  light: #729AEC );
$grey : ( dark: #2C3136, base: #8D8D8D, soft: #D6D6D6, light: #F4F4F4 );