@function color($colorSet, $variation: base) {
  @if type-of($colorSet) == color {
    @return $colorSet;
  }

  @if map-has-key($colorSet, $variation) {
    @return map-get($colorSet, $variation);
  }

  @warn "Unknown #{$variation} variation in #{$colorSet}.";
  @return map-get($colorSet, base);
}

//
@function offsetVariation($variation, $by) {
  $variations: base, light, fade, faint;
  $index: index($variations, $variation);
  $index_by: $index + $by;

  @if ($index_by > length($variations)) {
    @return nth($variations, length($variations) - 1);
  }

  @if ($index_by < 0) {
    @return nth($variations, 0);
  }

  @return nth($variations, $index_by);
}
