$white:       ( base: #fff );
$black:       ( base: #000 );
$luxor:       ( base: #ccac70, light: #d6bc8d, fade: #e0cda9 );
$cocoa:       ( base: #8a7e70, light: #ada49a, fade: #d0cbc6, faint: #f0eeed );
$saffron:     ( base: #f2982c, light: #f5ad56, fade: #f9ce9a );
$emerald:     ( base: #84ab46, light: #9dbc6b, fade: #b5cd90 );
$light:       ( base: #cccaca, light: #e4e2e1, fade: #ebebeb, faint: #f7f7f7 );
$dark:        ( base: #2d2d2d, light: #3d3d3d, fade: #616161, faint: #9B9B9B );
$text:        ( base: #212525, light: #a6a8a8, fade: #c7c8c8 );
