@import 'ui/index';

// Include font faces

@include googleFont('Work+Sans:200,300,400,500,600');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'kern' 1;
     -moz-font-feature-settings: 'kern' 1;
}

.text-upper {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}