.sidebar {
  background-color: #fafafa;
  width: 18rem;
  padding: 2rem;

  .sidebar-nav {}

  .sidebar-nav-list {
    display: inline-block;
    padding: 1rem 0;

    .title {
      font-size: 15px;
      font-weight: 400;
      margin: 1rem 0 1rem 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
    .element {
      font-size: 14px;
      font-weight: 300;
      margin: 0 0 .5rem 0;
    }
  }
}
