////
/// @group colors
////

$white:           ( base: #fff );
$black:           ( base: #000 );
$whisper:         ( base: #ebebeb );
$wild-watermelon: ( base: #FF4F79);
$santas-grey:     ( base: #9F9FA5);
$arsenic:         ( base: #3C444B);

$dark:             ( base: #2d2d2d, light: #3d3d3d, fade: #616161, faint: #9B9B9B );
$snow:             ( base: #fcfcfc );
$white-smoke:      ( base: #F7F7F7 );

$selection:        ( base: rgba(255, 255, 0, 0.3));
