html, body {
  height: 100%;
}
.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}
.header, .footer {
  display: flex;
  flex-grow: 0;
  width: 100%;
  padding: 1rem;
  background-color: $color-decoration
}

.main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.footer {}
