<div class="c-layout">
  <div class="slot content">
    <div class="slot sidebar">
      {{> sidebar this }}
    </div>
    <div class="slot main">
      {{> pages_list this }}
    </div>
  </div>
</div>