<div class="main-content">
  <div class="pages-sidebar">
    <h2>Pages</h2>
    <div class="pages-sidebar-nav">
      {{> pages_sidebar pages=pages }}
    </div>
  </div>
  <div class="page-viewer">
      Please, select a page from the side menu
  </div>
</div>