div {
  background: dodgerblue;
}

.c-hello--underline {
  text-decoration: underline;
}
.c-hello--italic {
  font-style: italic;
}
.c-hello--green {
  background: green
}
.c-hello--orange {
  background: orangered
}
.c-hello--white-text {
  color: white
}
.c-hello--firebrick-text {
  color: firebrick
}