<div class="c-logo">
  <a href="{{logo.href}}" alt="{{logo.alt}}">
    {{#if logo.content }}
      {{{ logo.content }}}
    {{else}}
      <span class="default-image"></span>
    {{/if}}
  </a>
</div>
