{{#each pages as |page| }}
  {{#if (eeq page.type 'directory') }}
     <li class="page-group">
       {{page.title}}
     </li>
    {{> pages_menu_entry pages=page.children }}
  {{else}}
    <li class="page">
      <a href="/{{page.href}}">{{page.title}}</a>
    </li>
  {{/if}}
{{/each}}
