 <div class="c-renderer">
  <a id="open-in-new-window" data-original-url="{{iframeSource}}" target="_blank">
    Open in a new window <span class="glyph"></span>
  </a> 
  <iframe class="renderer" id="styleguide-iframe-wrapper" src="{{iframeSource}}"></iframe>
</div>
