<div class="c-editor">
  <div class="c-playground-subsection c-playground-subsection--borderless">
    <h2 class="playground-section-title">Example</h2>
    <div class="playground-content">
        <textarea class="textarea">{{{example}}}</textarea>
    </div>
  </div>
</div>