
<div class="c-renderer">
  <iframe class="renderer" id="styleguide-iframe-wrapper" src="{{iframeSource}}"></iframe>
</div>
<a id="open-in-new-window" data-original-url="{{iframeSource}}" target="_blank">Open in a new window</a>  