<div class="c-editor">
  <div class="c-subsection c-subsection--borderless">
    <h2 class="title">Example</h2>
    <div class="content">
      {{#each examples as |example|}}
        {{!-- One and only one editable example is expected --}}
        {{ter (gt ../examples.length 1) example.fileName ''}}
        <textarea
          class="{{ter example.readOnly 'codemirror-textarea-readonly' 'codemirror-textarea-editable'}}"
          data-mode="{{example.mode}}"
        >
          {{{example.content}}}
        </textarea>
      {{/each}}
    </div>
  </div>
</div>
