{{#each elements as |element| }}
  {{#eeq element.type 'directory' }}
    {{#if element.isLastFolder }}
      <li class="element">
        <a href="/view/{{element.url}}">{{element.name}}</a></li>
    {{else}}
      <li class="title">{{element.name}}</a></>
      {{> sub_menu_entry elements=element.children }}
    {{/if}}
  {{/eeq}}

{{/each}}
