<div class="c-typesets-table">

  {{#each typeset as |type| }}
    <div class="item">
      {{#with type}}
        <h1 class="name">type: <span>{{typo}}</span></h1>
        {{#each sizes as |s| }}
          {{#with s}}
            <h2 class="breakpoint">breakpoint: {{size}}</h2>
            <p class="render" style="{{join (joinObjArr styles 'prop' 'value' ':') ';'}}">The quick brown fox jumps over the lazy dog</p>
            <p class="attrs">{{{join (joinObjArr styles 'prop' 'value' ': ') '; '}}}</p>
          {{/with}}
        {{/each}}
      {{/with}}
    </div>
  {{/each}}
   
</div>
