@import 'ui/index';

.c-icons-table {
  padding: spacing(12) 0; 

  > .item {
    float: left;
    margin-right: spacing(4);

    > label {
      display: inline-block;
      width: 18vw;
      min-width: spacing(40);
      padding: spacing(4) 0;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
    }
  }

  .icon-name {
    @include useType(helvetica-sm);
    display: inline-block;
    margin-top: spacing(2);
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
