<div class="c-month {{ .variants }}">
  <div class="month-group">
    <div class="weekdays">
      <table class="table">
        <thead>
          <tr>
            <th class="day">L</th>
            <th class="day">M</th>
            <th class="day">X</th>
            <th class="day">J</th>
            <th class="day">V</th>
            <th class="day">S</th>
            <th class="day">D</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="month">
      <table class="table">
        <tbody>
          <tr>
            <td colspan="7" class="month-name">Julio</td>
          </tr>
          <tr class="week">
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled">1</td>
          </tr>
          <tr class="week">
            <td class="day disabled">2</td>
            <td class="day disabled">3</td>
            <td class="day disabled">4</td>
            <td class="day">5</td>
            <td class="day">6</td>
            <td class="day disabled">7</td>
            <td class="day disabled">8</td>
          </tr>
          <tr class="week">
            <td class="day">9</td>
            <td class="day">10</td>
            <td class="day">11</td>
            <td class="day">12</td>
            <td class="day">13</td>
            <td class="day disabled">14</td>
            <td class="day disabled">15</td>
          </tr>
          <tr class="week">
            <td class="day">16</td>
            <td class="day">17</td>
            <td class="day">18</td>
            <td class="day">19</td>
            <td class="day">20</td>
            <td class="day disabled">21</td>
            <td class="day disabled">22</td>
          </tr>
          <tr class="week">
            <td class="day">23</td>
            <td class="day">24</td>
            <td class="day">25</td>
            <td class="day">26</td>
            <td class="day">27</td>
            <td class="day disabled">28</td>
            <td class="day disabled">29</td>
          </tr>
          <tr class="week">
            <td class="day">30</td>
            <td class="day is-selected is-selection-start is-selection-end">31</td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
            <td class="day disabled"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
